<h1><%= t(:all_permission_groups, :scope => "titles" ) %></h1>
<%= link_to t(:add_permission, :scope => "links" ), new_permission_group_path %><br/>

<%= will_paginate %>
<ul class="permission_groups">
  <% @permission_groups.each do |permission_group| %>
    <%= render permission_group %>
  <% end %>
</ul>
<%= will_paginate %>
