<!-- hidden field to make sure the id doesnt get overloaded -->
<div class="fields">
  <% if :id %>
    <% tag = "new_disciplines" %>
    <%= f.hidden_field :id, :value => 0 %>

		<%= label_tag t(:institute, :scope => "globals" ) %>
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "institute",
      :id => "guild[disciplines_attributes][#{tag}][institute_id]",
      :dataset => get_institutes, 
      :selected_id => "",
      :parent_id => "guild_disciplines_attributes_#{tag}_institute_id",
      :child_id => "guild_disciplines_attributes_#{tag}_faculty_id"} %> <br />

		<%= label_tag t(:faculty, :scope => "globals" ) %>    
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "faculty",
      :id => "guild[disciplines_attributes][#{tag}][faculty_id]",
      :dataset => get_faculties, 
      :selected_id => "",
      :parent_id => "guild_disciplines_attributes_#{tag}_faculty_id",
      :child_id => "guild_disciplines_attributes_#{tag}_id"} %> <br />

		<%= label_tag t(:discipline, :scope => "globals" ) %>    
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "discipline",
      :id => "guild[disciplines_attributes][#{tag}][id]",
      :dataset => get_disciplines, 
      :selected_id => "",
      :parent_id => "",
      :child_id => ""} %> <br />

    <%= link_to_remove_fields "remove(symbol)", f %>
  <% end %>
</div>
