<%= form_for(@guild) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
  </div>
<div class='field'>
    <%= f.label :initials %> <br>
    <%= f.text_field :initials %> <br>
  </div>
  <div class='field'>
		<%= f.label t(:disciplines, :scope => "globals" ) %> <br>
    <div class='fields'>
      <%= f.fields_for :disciplines do |builder| %>
        <%=  render 'given_discipline_fields' , {:f => builder} unless @dis_fac_inst.empty?%>
      <% end %>
    </div>
    <div class='fields'>
      <%= link_to_perform_javascript "add one(symbol)", [],[], [add_fields(f, :disciplines)] %>
    </div>

  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
