<div>
  <h1><%= link_to guild.name, guild %></h1>
  
	<% if current_user && not(current_user.guilds.include?(guild) )%>
		<%= link_to "Join this guild", join_guild_path(guild), :method => :put %>
	<% else %>
		<p>You are a member of this guild</p>
	<% end %>
	
  <strong>Disciplines:</strong><br>
  <% guild.disciplines.each { |discipline| %>
    <strong><%= discipline.name %></strong><br/>
    <ul>
      <li><strong>Faculty:</strong><%= link_to discipline.faculty.name, discipline.faculty %> <br/></li>
      <li><strong>Institute:</strong><%= link_to discipline.faculty.institute.name, discipline.faculty.institute %> <br/></li>
    </ul>
  <% } %>

	<h2>Supplies</h2>
	<%= link_to_function "Show", "$('#supplies').toggle()" %>
	<div class="supplies", id="supplies", style="display:none;">
		<ul class="supplies">
			<%= "not selling any materials" if guild.materials.empty?%>
			<% guild.materials.each do |supply| %>
				<%= render supply %>
			<% end %>
		</ul>
	</div>
	
	<h2>Messages</h2>
	<%= link_to_function "Show", "$('#messages').toggle()" %>
	<div class="messages", id="messages", style="display:none;">
		<ul class="messages">
			<% guild.messages.each do |message| %>
				<%= render message %>
			<% end %>
		</ul>
		<%= link_to "New Message", new_message_path(:guild_id => guild.id) if current_user.can?('create_all_messages') || (current_user.can?('create_messages') && current_user.guilds.include?(guild)) %><br/>
	</div><br/>
  <%= link_to "Edit this guild", edit_guild_path(guild) %>
</div>
