<div>
  <h1>
    <%= link_to guild.name, root_url(:subdomain => guild.initials) %>  <%= t(:supplies, :scope => "guild") %>
    <% unless current_user && current_user.guilds.include?(guild) %>
      <div class="to_right">
        <span class="comment_text"><%= link_to "join", join_guild_path(guild), :method => :put %></span>
        <%= link_to image_tag("icons/twotone/" + icon_color + "/arrow-down.gif", :alt=>t("edit", :scope => 'links')), join_guild_path(guild), :method => :put %>
      </div>
    <% end %>
  </h1>
  <div class="supplies" id="supplies">
    <div id="filter">
      </br>
      <fieldset class="simplefieldset2">
        <legend><%= t(:filter, :scope => "guild.supply") %></legend>
        <%= form_tag update_filter_guild_path(guild), :method => :put do %>
          <div style="display:none;">
            <%= label_tag "institute" %>
            <%= render :partial => "filters/select_box", :locals => {
              :filter_key_ajax => "institute",
              :id => "filter[institute_id]",
              :dataset => get_institutes,
              :selected_id => guild.disciplines.first.faculty.institute_id.to_s,
              :parent_id => "filter_institute_id",
              :child_id => "filter_faculty_id"} %> <br />

            <%= label_tag "faculty" %>
            <%= render :partial => "filters/select_box", :locals => {
              :filter_key_ajax => "faculty",
              :id => "filter[faculty_id]",
              :dataset => get_faculties(guild.disciplines.first.faculty.institute_id.to_s),
              :selected_id => guild.disciplines.first.faculty.id.to_s,
              :parent_id => "filter_faculty_id",
              :child_id => "filtert_discipline_id"} %> <br />
          </div>
          <table>
            <tr>
              <td>
                <%= label_tag t :disciplines, :scope =>'globals' %>
              </td>
              <td>
                <%= render :partial => "filters/select_box_html_options", :locals => {
                  :filter_key_ajax => "discipline",
                  :id => "filter[discipline_id]",
                  :dataset => get_disciplines(guild.disciplines.first.faculty.id.to_s),
                  :selected_id => @selected_discipline,
                  :html_options => {:onchange => '$(filter_year_type).val("");'}} %> <br />
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag t :year, :scope => "datetime.prompts" %>
              </td>
              <td>
                <%= select_tag "filter[year_type]",
                  options_for_select([["bachelor","bachelor"], ["master","master"], ["choice","choice"]], @selected_year_type),
                  {:prompt => t(:select, :scope =>'globals'), :onchange => "if (this.value !='') {this.form.submit();} "} %>
              </td>
            </tr>
          </table>
        <% end %>
      </fieldset>
    </div>

    <%= render :partial => "supply" %>
  </div>
</div>

<%= render :partial => 'sidemenu', :locals => {:guild => guild} %>

<% if signed_in? && current_user.can?("view_side_supply") %>

  <%= render :partial => 'shared/side_supply' %>

<% end %>