<h1><%= @title %></h1>
<ul class="administrator_links">
	<% if signed_in? %>
		<li><%= link_to "institutes", institutes_path, :id => navigation_selected("Institutes") %> </li>
		<li><%= link_to "faculties", faculties_path, :id => navigation_selected("Faculties") %> </li>
		<li><%= link_to "disciplines", disciplines_path, :id => navigation_selected("Disciplines") %> </li>
		<li><%= link_to "subjects", subjects_path, :id => navigation_selected("Subjects") %> </li>
		<li><%= link_to "materials", materials_path, :id => navigation_selected("Materials") %> </li>
		<li><%= link_to "users", users_path, :id => navigation_selected("Users") %> </li>
		<li><%= link_to "guilds", guilds_path, :id => navigation_selected("Guilds") %></li>
		<li><%= link_to "stock", stocks_path, :id => navigation_selected("Stock") %></li>
	<% end %>
</ul>
