<h1><%= @title %></h1>

<h2>I am a Guide!</h2>

<%= render :partial => "home_side_menu" %>

<% if !current_user %>
  <% content_for :sideshop do  %>
    <div class="topline"></div>
    <div id="sidelogin">
      <%= form_for(:session, :url => sessions_path) do |f| %><br/>
        <div class='field'>
          <%= f.label :user_name %> <br>
          <%= f.text_field :user_name %> <br>
        </div>
        <div class='field'>
          <%= f.label :password %> <br>
          <%= f.password_field :password %> <br>
        </div>
        <div class="actions">
          <%= f.submit 'Sign in' %>
        </div>
      <% end %>
    </div>
    <div class="topline"></div>
  <% end %>
<% end %>
