<h1><%= @title %></h1>
<% if current_user %>
  <%= current_user.guilds.first && current_user.guilds.first.name %>
<% end %>
<div class="content">
  <h2><%= t(:welcome_message_about_platform_title, :scope => 'page.home') %></h2>
  <p class="indentbody"><%= t(:welcome_message_about_platform_html, :scope => 'page.home') %></p>
  <h2><%= t(:welcome_message_about_us_title, :scope => 'page.home') %></h2>
  <p class="indentbody"><%= t(:welcome_message_about_us, :scope => 'page.home') %></p>
  <h2><%= t(:welcome_message_join_us_title, :scope => 'page.home') %></h2>
  <p class="indentbody"><%= t(:welcome_message_join_us, :scope => 'page.home') %></p>
</div>
<br/>
<div class="sponsors">
  <fieldset>
    <legend class="cmxform"><%= t(:thanks, :scope => 'sponsor') %></legend>
    <table>
      <tbody>
        <tr>
          <td><a href="http://www.ubuntu.com/" ><%= image_tag("partners/tux2.png", :size => "80x80" ) %></td>
          <td><a href="http://www.ubuntu.com/" ><%= image_tag("partners/vub.jpg", :size => "300x69" ) %></td>
          <td><a href="http://www.ubuntu.com/" ><%= image_tag("partners/chrome-fox.png", :size => "80x80" ) %></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>

<%= render :partial => "home_side_menu" %>
