<h1><%= @title %></h1>
<%= render :partial => 'filters' %>
<%= button_to t(:back, :scope => "globals"), @ret, :method => 'get' %>
<% @search_results.each do |table, results| %>
  <% unless results.empty? %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(table.to_s.downcase.to_sym, :scope => "globals") %>
      </legend>
      <div>
        <ul>
          <% results.each do |result| %>
            <% if result.class == User %>
              <li><%= link_to "#{result.name} #{result.last_name} (#{result.user_name})", result %></li>
            <% else %>
              <li><%= link_to result.name, result %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </fieldset>
  <% end %>
<% end %>
