<%= form_for(@price) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class='field'>
    <%= f.label :amount %> <br>
    <%= f.text_field :amount %> <br>
    <%= f.label :option %><br/>
    <%= select(:price, :option_id, Option.find(:all, :conditions => ['typee = ?', 'printer']).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select option'}) %><br/>
    <%= f.label :price_set %><br/>
    <%= select(:price, :price_set_id, PriceSet.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select price_set'}) %><br/>
    <%= f.label :type %><br/>
    <%= select(:price, :typee, ['per_page', 'once'], {:prompt => 'Select type'}) %><br/>
  </div>

  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
