<h1><%= t(:all) %> <%= t(:institutes) %></h1>
<p class="comment_text" ><%= link_to "Add a new institute", new_institute_path %></p>
<%= will_paginate %>

<div class="institutes">
  <% @institutes.each do |institute| %>
     <h2> <%= link_to institute.name, institute %> </h2>
  <div class="item_content">
      <%= render :partial => "institute_body", :locals => {:institute => institute} %>
  </div>
  <% end %>
</div>
<%= will_paginate %>

