<h1><%= t(:all) %> <%= t(:institutes) %></h1>
<%= link_to "Add a new institute", new_institute_path %>
<%= will_paginate %>

<div class="institutes">
  <% @institutes.each do |institute| %>
  <div class="item_content">
    <h2 class="h2_link"><%= link_to institute.name, institute %></h2>
    <%= render :partial => "institute_body", :locals => {:institute => institute} %>
  </div>
  <% end %>
</div>
<%= will_paginate %>

