<h1>
  <%= @title %>
  <div class="to_right">
    <span class="comment_text">
      <%= link_to t(:new_institute, :scope => "links" ), new_institute_path %>
    </span>
    <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_institute_path %>
  </div>
</h1>

<div class="institutes">
  <% @institutes.each do |institute| %>
     <h2> <%= link_to institute.name, institute %> </h2>
      <%= render :partial => "institute_body", :locals => {:institute => institute} %>
  <% end %>
</div>
<%= will_paginate %>
