

<fieldset class="simplefieldset2">
   <legend>
    <%= t(:info, :scope => "message" ) %>
    <% if current_user.can? "edit_printers" %>
      <span class= "edit">
      - <%= link_to t(:edit, :scope => "links" ), edit_printer_path(printer) %>
      </span>
    <% end %>
  </legend>
   <table class="simpletable1">
     <col/>
     <tr>
       <td> <%= t(:name) %>: </td>
       <td> <%= printer.name %> </td>
     </tr>
   </table>
  </fieldset>

<% if current_user.can? "view_price_sets" %>
  <fieldset class="simplefieldset2">
    <legend>
      <%= t(:price_sets, :scope => "globals") %>
    </legend>
    <div class="price_sets">
      <ul class="price_sets">
        <% printer.price_sets.each do |price_set| %>
          <li><%= link_to price_set.name, price_set %></li>
        <% end %>
      </ul>
    </div>
  </fieldset>
  <% if current_user.can? "create_price_sets" %>
    <p class= "comment_text">
      <%= link_to t(:add_price_set, :scope => "links" ), :controller => "price_sets", :action => "new", :printer_id => printer.id %>
    </p>
  <% end %>
<% end %>
