<h2><%= t(:delivered_printjob, :scope => "titles" ) %></h2>

<table>
	<thead>
		<tr>
			<th><%= t(:orderid, :scope => "print_jobs" ) %></th>
			<th><%= t(:status, :scope => "print_jobs" ) %></th>
			<th><%= t(:info, :scope => "print_jobs" ) %></th>
		</tr>
	</thead>
	<tbody>
		<% @delivered_print_jobs.each do |print_job| %>
			<tr>
				<td><%= print_job.id %></td>
				<td><%= print_job.status %></td>
				<td>
					<table>
						<thead>
							<tr>
								<th><%= t(:item_name, :scope => "print_jobs" ) %></th>
								<th><%= t(:amount, :scope => "print_jobs" ) %></th>
								<th><%= t(:item_name, :scope => "print_jobs" ) %></th>
							</tr>
						</thead>
						<tbody>
							<% print_job.print_job_items.each do |item| %>
								<tr>
									<td><%= item.material.name %></td>
									<td><%= item.amount %></td>
									<td></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
