<h2><%= t(:printed_printjob, :scope => "" ) %></h2>

<% print_jobs.each do |print_job| %>
	<div class="print_job" id=<%= "print_job_" + print_job.id.to_s %> onclick="$('#print_job_1 div.print_job_info').show('slow')">
		<%= t(:id, :scope => "print_jobs" ) %> = <%= print_job.id %><br/>
		<%= t(:status, :scope => "print_jobs" ) %> = <%= print_job.status %><br/>
			<div class="print_job_info", style='display:none;'>
				<table>
					<thead>
						<tr>
							<th><%= t(:item_name, :scope => "print_job" ) %></th>
							<th><%= t(:amount, :scope => "print_job" ) %></th>
							<th><%= t(:item_name, :scope => "print_job" ) %></th>
						</tr>
					</thead>
					<tbody>
						<% print_job.print_job_items.each do |item| %>
							<tr>
								<td><%= link_to item.material.name, item.material %></td>
								<td><%= item.amount %></td>
								<td></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
	</div>
<% end %>
