<%= render :partial => 'menu' %>

<h1><%= @title %></h1>

<% if current_user.can?('print') %>
	<%= render :partial => "print_job_list", :locals => { :print_jobs => @ordered_print_jobs } %>
<% end %>


<%= render :partial => 'pending_print_jobs' %>
<%= render :partial => "print_job_list", :locals => { :print_jobs => @printed_print_jobs } %>
