<h1><%= @title %></h1>

	<table>
		<thead>
			<tr>
				<th><%= t(:item, :scope => "print_jobs" ) %></th>
				<th><%= t(:amount, :scope => "print_jobs" ) %></th>
			</tr>
		</thead>
		<tbody>
			<% @payed_materials.each do |k, v| %>
				<tr>
					<td><%= k.name %></td>
					<td><%= v %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


<%= form_for(@print_job) do |f| %>
	<div class='field'>
		<%= f.submit @submit %>
	</div>
<% end %>
