<%= form_for(@user) do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= label_tag t(:first_name, :scope => 'user') %> <br>
    <%= f.text_field :name %> <br>
  </div>
  <div class='field'>
    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name %> <br>
  </div>
  <div class='field'>
    <%= f.label :user_name %> <br>
    <%= f.text_field :user_name %> <br>
  </div>
  <% if false %>
    <div class='field'>
      <%= f.label :email %> <br>
      <%= f.text_field :email %> <br>
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation %> <br>
  </div>
  <div class="field">
    <% if @guild %>
      <%= hidden_field_tag :guild,  @guild.id %>
    <% else %>
      <%= select_tag :guild, options_from_collection_for_select(Guild.find(:all),
        :id, :name, params[:guild] ? params[:guild] : "") ,
        { :prompt => t(:select_guild, :scope => 'user.signup')} %>
    <% end %>
  </div>
  <div class='field'>
    <%= f.submit @submit %>
  </div>
<% end %>
