<div>
  <h1><%= link_to user.name, user %></h1>
  <strong><%= t(:last_name,:scope => "attributes") %>:</strong> <%= user.last_name %> <br/>
  <strong><%= t(:user_name,:scope => "attributes") %>:</strong> <%= user.user_name %> <br/>
  <strong><%= t(:email,:scope => "attributes") %>:</strong> <%= user.email %> <br/>
  <% user.disciplines.each do |discipline| %>
    <strong><%= discipline.name %></strong><br/>
    <ul>
      <li><strong><%= t(:faculty,:scope => "attributes") %>:</strong><%= discipline.faculty.name %></li>
      <li><strong><%= t(:institute,:scope => "attributes") %>:</strong><%= discipline.faculty.institute.name %></li>
    </ul>
  <% end %>
	<br/>
	<% if current_user && ( current_user == user || current_user.can?("edit_users" ) ) %>
		<% if current_user.can?("edit_permissions")|| user == current_user%>
			<%= render :partial => 'user_permissions', :locals => {:user => user} %>
		<% end %>
		<%= link_to t(:edit_user,:scope => "links"), edit_user_path(user) %>
	<% end %>
	
	<div class="TEST">
		
	</div>
	
</div>
