<fieldset class="simplefieldset2">
   <legend>
    <%= t(:info, :scope => "message" ) %>
    <span class= "edit">
    - <%= link_to t(:edit, :scope => "links" ), edit_price_set_path(price_set) %>
    </span>
  </legend>
   <table class="simpletable1">
     <col/>
     <tr>
       <td> <%= t(:name) %>: </td>
       <td> <%= price_set.name %> </td>
     </tr>
   </table>
  </fieldset>



<fieldset class="simplefieldset2">
  <legend>
    <%= t(:prices, :scope => "globals") %>
  </legend>
  <div class="prices">
    <ul class="prices">
      <% price_set.prices.each do |price| %>
        <li>------ render price ------</li>
      <% end %>
    </ul>
  </div>
</fieldset>
<p class= "comment_text">
  <%= link_to t(:add_price, :scope => "links" ), new_price_path %>
</p>
