<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <center> <%= image_tag attachments['cd_logo.gif'].url, :alt => "Crususdienst.net" -%> </center>
    <h1><%= t :hello, :scope => "mailers.ordermailer" %> <%= @user.name %>,</h1>
    
    <p>
      <%= t :content, :scope => "mailers.ordermailer.order_ready"  %>
    </p>
    <p><%= t :bye_html, :scope => "mailers.ordermailer" %></p>
  </body>
</html>
