<div>
  <h2><%= link_to discipline.name, discipline %></h2>
  <fieldset class="simplefieldset2">
    <legend>
     <%= t(:info, :scope => "message" ) %>
     <span class="edit">
     - <%= link_to "Edit", edit_discipline_path(discipline) %>
     </span>
    </legend>

    <table class="simpletable1">
    <col/>
    <tr>
      <td><%= t(:institute) %>:</td>
      <td><%= link_to discipline.faculty.institute.name, discipline.faculty.institute %> </td>
    </tr>
    <tr>
      <td><%= t(:faculty) %>:</td>
      <td><%= link_to discipline.faculty.name, discipline.faculty %> </td>
    </tr>
  </table>
  </fieldset>
  <fieldset class="simplefieldset2">
  <legend>
    <%= t(:subjects, :scope => "globals" ) %>
    <span class="comment_text">
      - <%= link_to t(:add_one, :scope => "links" ), :controller => "subjects", :action => "new", :discipline_id => discipline.id %>
      <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_subject_path %>
    </span>
  </legend>
    <ul class="subjects">
      <% discipline.subjects.each do |subject| %>
        <li><%= link_to subject.name, subject %></li>
      <% end %>
    </ul>
  </fieldset>
</div>

