<%= form_for(@discipline) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
  </div>
  <div class='field'>
     
     <%= label_tag "institute" %>
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "institute",
      :id => "discipline[institute_id]",
      :dataset => get_institutes, 
      :selected_id => @selected_institute,
      :parent_id => "discipline_institute_id",
      :child_id => "discipline_faculty_id"} %> <br />

    <%= label_tag "faculty" %>    
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "faculty",
      :id => "discipline[faculty_id]",
      :dataset => get_faculties, 
      :selected_id => @selected_faculty,
      :parent_id => "",
      :child_id => ""} %> <br />
  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
