<h1>
  <%= @title %>
  <div class="to_right">
    <span class="comment_text">
      <%= link_to t(:new_discipline, :scope => "links" ), new_discipline_path %>
    </span>
    <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_discipline_path %>
  </div>
</h1>
<%= will_paginate %>
<ul class="disciplines">
  <% @disciplines.each do |discipline| %>
    <%= render discipline %>
  <% end %>
</ul>
<%= will_paginate %>
