<div id="menu">
  <ul>

    <li><%= link_to "home", root_path, :id => navigation_selected("Home") %> </li>

    <% if signed_in? %>
      <li><%= link_to t(:sign_out, :scope => "links" ), signout_path %> </li>
      <li><%= link_to t(:profile, :scope => "links" ), current_user %></li>
      <% if current_user && current_user.can?("use_control_panel") %>
        <li><%= link_to "control panel", control_panel_path %> </li>
      <% end %>

    <% else %>
      <li><%= link_to t(:sign_in, :scope => "links" ), signin_path %> </li>
    <% end %>

  </ul>
</div>

<%= content_for :sideshop do%>

<%= end %>
