<div id="menu">
  <ul>

    <li><%= link_to "home", root_path, :id => navigation_selected("Home") %> </li>
    <li><%= link_to "institutes", institutes_path, :id => navigation_selected("Institutes") %> </li>
    <li><%= link_to "faculties", faculties_path, :id => navigation_selected("Faculties") %> </li>
    <li><%= link_to "disciplines", disciplines_path, :id => navigation_selected("Disciplines") %> </li>
    <li><%= link_to "subject", subjects_path, :id => navigation_selected("Subjects") %> </li>

    
  </ul>
</div>