<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html
  xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <%= stylesheet_link_tag 'ocd_main/main' %>
    <%= stylesheet_link_tag 'ocd_main/sideshop' %>
    <%= stylesheet_link_tag 'ocd_main/sidemenu' %>
    <%= stylesheet_link_tag 'ocd_main/sidechat' %>
    <%= stylesheet_link_tag 'ocd_main/sidelogin' %>
    <%= stylesheet_link_tag 'ocd_main/topmenu' %>
    <%= stylesheet_link_tag 'ocd_main/loginmenu' %>
    <%= stylesheet_link_tag 'ocd_main/tables/simpletable1' %>
    <%= stylesheet_link_tag 'ocd_main/tables/supplytable1' %>
    <%= stylesheet_link_tag 'ocd_main/tables/defaulttable' %>
    <%= stylesheet_link_tag 'ocd_main/fieldsets/simplefieldset2' %>
    <%= stylesheet_link_tag 'ocd_main/fieldsets/simplefieldset1' %>
    <%= stylesheet_link_tag 'ocd_main/fieldsets/simplefieldset3' %>
    <%= stylesheet_link_tag 'ocd_main/textstyles/paragraph_styles' %>
    <%= stylesheet_link_tag 'ocd_main/textstyles/headers' %>
    <%= stylesheet_link_tag 'ocd_main/textstyles/typography' %>
    <%= stylesheet_link_tag 'ocd_main/textstyles/lists' %>
    <%= stylesheet_link_tag 'ocd_main/icons/icons' %>
    <%= stylesheet_link_tag 'ocd_main/divs/item_content' %>
    <%= stylesheet_link_tag 'ocd_main/divs/minidivs' %>
    <%= stylesheet_link_tag 'ocd_main/divs/filter_results' %>
    <%= stylesheet_link_tag 'jquery.rating' %>

    <%= javascript_include_tag :application %>
  </head>
  <body class="grey">
    <!--
        <table id="maintable">
    -->
    <div id="headerbg"> </div>
    <div id="maincontainer">
      <div id="headercontainer">
        <% if request.subdomain == "" || request.subdomain == 'www'  %>
          <div id="headerlogo">
            <%= image_tag "banners/cd_logo.gif", :alt=>"Header Logo" %>
          </div>
          <div id="headerbanner"> 
            <%= image_tag "banners/headerbanner.png", :alt=>"Header Banner" %>
          </div>
        <% else %>
          <div id="headerbanner"> 
            <%= image_tag "guilds/" + request.subdomain + "/headerbanner.png", :alt=>"Header Banner" %>
          </div>
        <% end %>

        <div id="headerloginarea"> 
          <!-- Loginmenu div voor het login menu rechts bovenaan--> 
          <!-- icons kan je aanpassen in de CSS file -->
          <%= render 'layouts/loginmenu' %>
        </div>
      </div>
      <div id="menucontainer">
        <div id="menuleft"> </div>
        <%= render 'layouts/navigation' %>
        <div id="menubottom"> </div>
        <div id="menuright"> </div>
      </div>

      <div id="bodycontainer">
        <div id="bodyleft">
          <!-- Example of a menu, see the menuleft_template file for explanation -->
          <!-- Hiermee kunde regelen hoe hoog het menu staat -->
          <p class="whitespace"> </p>

          <%= render 'layouts/sidemenu' %>


          <!-- Example of a chat module -->
          <p class="whitespace"> </p>
          <%= render 'layouts/sideshop' %>

          <!-- End Example --> </div>
        <div class="error_red" id="ajax_errors"></div>

        <div class="error_green" id="ajax_messages"></div>

        <% flash.each do |key, value| %>
          <% if (key == :error) %>
            <div class="error_red" id="flash <%= key %>"> <%= value %> </div>
          <% else %>
            <div class="error_green" id="flash <%= key %>"> <%= value %> </div>
          <% end %>
        <% end %>

        <div id="bodycenter">
          <!-- Insert main page content here -->
          <!-- One detail.. There have to be at least 3 lins of text in the middle or
                the design fucks up.-->



          <%= yield %>

        </div>

        <!--End main page example -->
        <div id="bodyright" style="display: none">
          <!-- Example of a chat module -->
          <p class="whitespace"> </p>
          <%= render 'layouts/sidechat' %>

          <!-- End Example --> 
        </div>
        <!-- Footer is a bit overly complicated but the only way I was 100% sure it would work from the first time --> 
        <div id="footer">
          <div id="footer1">
          </div>
          <div id="footer2">
            <div id="footerbannerdiv">

              <% if request.subdomain == "" || request.subdomain == 'www'  %>
                <%= image_tag "banners/footerbanner.png", :alt=>"Footer Banner" %>
              <% else %>
                <%= image_tag "guilds/" + request.subdomain + "/footerbanner.png", :alt=>"Header Banner" %>
              <% end %>
            </div>
            <div id="footertext">
              <%= render :partial => "layouts/footer" %>
            </div>
          </div>

          <div id="footer3">
          </div><br/>
          <div id="debug">
            DEBUG
            <%= debug(params) if Rails.env.development? %><br/>
            <br/>
            <table>
              <thead>
                <tr>
                  <th>SESSION</th>
                </tr>
              </thead>
              <tbody>
                <% session.keys.each do |key| %>
                  <tr>
                    <td><%= key %></td>
                    <td><%= session[key] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--
        </table>
    -->
  </body>
</html>
