<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title></title>

    <%= stylesheet_link_tag 'ocd_main/main' %>
    <%= stylesheet_link_tag 'ocd_main/sidemenu' %>
    <%= stylesheet_link_tag 'ocd_main/topmenu' %>
    <%= stylesheet_link_tag 'ocd_main/typography' %>

    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="headerbg"> </div>
    <div id="maincontainer">
      <div id="headercontainer">
        <div id="headerlogo"> </div>
        <div id="headerstudentlogo"> </div>
        <div id="headerloginarea"> </div>
      </div>
      <div id="menucontainer">
        <div id="menuleft"> </div>
        <div id="menubuttonarea">
		 <!-- Example of a buttommenu, see the menutop_template file for explanation -->
		  	  <div id="buttonleft"> </div>
		  	  <div id="buttoncenter"> button1 </div>
		   	  <div id="buttonright"> </div>
		  	  <div id="buttonleft"> </div>
		  	  <div id="buttoncenter"> button2 </div>
		   	  <div id="buttonright"> </div>
		  	  <div id="buttonleft"> </div>
		  	  <div id="buttoncenter"> button3 </div>
		   	  <div id="buttonright"> </div>
		  <!-- End Example -->
		 </div>
        <div id="menubottom"> </div>
        <div id="menuright"> </div>
      </div>
      <div id="bodycontainer">
        <div id="bodyleft">
          <!-- Example of a menu, see the menuleft_template file for explanation -->
          <div id="top"> </div>
          <div id="link"> link1 </div>
          <div id="separator"> </div>
          <div id="link"> link2 </div>
          <div id="separator"> </div>
          <div id="activelink"> link3 (active) </div>
          <div id="bottom"> </div>
          <!-- End Example --> </div>
        <div id="bodycenter">
          <!-- Insert main page content here -->
          <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>

          <%= yield %>
          <!--End main page example --> </div>
        <div id="bodyright"> 
		  <!-- Example of a menu, see the menuleft_template file for explanation -->
          <div id="top"> </div>
          <div id="link"> link1 </div>
          <div id="separator"> </div>
          <div id="link"> link2 </div>
          <div id="separator"> </div>
          <div id="activelink"> link3 (active) </div>
		  <div id="separator"> </div>
          <div id="link"> dikke
		  link <br/>
		  die<br/>
		  veel <br/>
		  plaats<br/>
		  inpakt </div>
          <div id="bottom"> </div>
		  </div>
      </div>
      <div id="footercontainer1">
        <div id="footerlefter1"> </div>
        <div id="footerleft1"> </div>
        <div id="footercenter1"> </div>
        <div id="footerright1"> </div>
        <div id="footerrighter1"> </div>
      </div>
      <div id="footercontainer2">
        <div id="footerlefter2"> </div>
        <div id="footerleft2"> </div>
        <div id="footercenter2"> </div>
        <div id="footerright2"> </div>
        <div id="footerrighter2"> </div>
      </div>
    </div>
    <!-- <div id "menu">
    </div>    <div id "body">    </div>    <div id "footer">
    </div>-->
    <div id="debug">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
