<table>
  <thead>
    <tr>
      <th><%= t(:items, :scope => "globals" ) %></th>
      <% unless params[:action] == "my_orders" %>
        <th>bought at</th>
      <% end %>
      <th class="fixed"><%= t(:amount, :scope => "globals" ) %></th>
      <th class="fixed"><%= t(:price, :scope => "globals" ) %></th>
      <th><%= t(:status, :scope => "globals" ) %></th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% items.each do |order_material| %>
      <% total_price += order_material.price %>
      <tr>
        <td><%= order_material.material.subject.name %>: <%= order_material.material.typee %> <%= order_material.material.name %></td>
        <% unless params[:action] == "my_orders" %>
          <td><%= order_material.guild.initials %></td>
        <% end %>
        <td class="fixed"><%= order_material.amount %></td>
        <td class="fixed"><%= number_to_currency order_material.price/order_material.amount %></td>
        <td><%= order_material.status %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong><%= t(:total, :scope => "globals" ) %></strong></td>
      <% unless params[:action] == "my_orders" %>
        <td></td>
      <% end %>
      <td colspan=2><strong><%= number_to_currency total_price %></strong></td>
      <td></td>
    </tr>
  </tbody>
</table>
