<div class="info">
  <% if guild.info "cash" %>
    <fieldset class="simplefieldset2">
      <legend><%= t(:cash, :scope => "info" ) %></legend>
      <% info = guild.info("cash") %>
      <%= raw info.content %><br/>
      <%= link_to t(:edit, :scope => "links" ), edit_info_string_path(info) %>
    </fieldset>
  <% else %>
    <%= link_to t(:set_cash_info, :scope => "links" ), :controller => "info_strings", :action => 'new', :key => 'cash', :guild_id => guild.id %>
  <% end %><br/>

  <% if guild.info "transfer" %>
    <fieldset class="simplefieldset2">
      <legend><%= t(:transfer, :scope => "info" ) %></legend>
      <% info = guild.info("transfer") %>
      <%= raw info.content %><br/>
      <%= link_to t(:edit, :scope => "links" ), edit_info_string_path(info) %>
    </fieldset>
  <% else %>
    <%= link_to t(:set_transfer_info, :scope => "links" ), :controller => "info_strings", :action => 'new', :key => 'transfer', :guild_id => guild.id %>
  <% end %><br/>

  <% if guild.info "general_payment" %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(:general_payment, :scope => "info" ) %>
        <%= link_to t(:edit, :scope => "links" ), 'THE FUCK'%>
      </legend>
      <% info = guild.info("general_payment") %>
      <%= raw info.content %><br/>
      <%= link_to t(:edit, :scope => "links" ), edit_info_string_path(info) %>
    </fieldset>
  <% else %>
    <%= link_to t(:set_general_payment_info, :scope => "links" ), :controller => "info_strings", :action => 'new', :key => 'general_payment', :guild_id => guild.id %>
  <% end %><br/>
</div>
