<tr>
  <td><%= order.user.name %> <%= order.user.last_name %> (<%= order.user.user_name %>)</td>
  <td><%= order.order_key %></td>
  <td><%= order.status %></td>
  <td><%= render :partial => 'orders_materials', :locals => { :items => order.material_orders } %></td>
  <% unless params[:action] == 'my_orders' %>
    <td>
      <% case order.status %>
        <% when "Posted"%>
         <%= 'Mark as payed' %><br/>
         <%= 'cancel' %>
        <% when "Payed" %>
          <%= 'mark as ordered' %>
          <%= 'cancel' %>
        <% when "Ordered" %>
          <%=  'mark as delivered' %>
        <% when "Delivered" %>
          <%=  'mark as ready' %>
        <% when "Ready" %>
          <%=  'mark as done' %>
        <% when "Done" %>
          <%=  'nothing' %>
        <% when "Canceled" %>
          <%=  'nothing' %>
        <% else %>
          <%= "nothing" %>
      <% end %>
    </td>
  <% end %>
</tr>
