<h1><%= @title %></h1>
<%= render :partial => 'filters' %>

<%= render :partial => 'info', :locals => {:guild => @guild} %>

<% if @orders && @orders.any?%>
<%= render :partial => 'active_orders' %>
<% end %>

<%= render :partial => 'menu' %>
