<h1><%= @title %></h1>
<%= render :partial => 'filters' %>

<% if @orders && @orders.any?%>
  <%= render :partial => 'active_orders' %>
<% else %>
  <%= t(:none_found, :scope => "globals")  %>
<% end %>

<%= render :partial => 'menu' %>
