<h1><%= @title %></h1>

<%= render :partial => 'info_strings/info_string', :locals => {:guild => @guild, :info_name => "cash"} %>
<%= render :partial => 'info_strings/info_string', :locals => {:guild => @guild, :info_name => "transfer"} %>
<%= render :partial => 'info_strings/info_string', :locals => {:guild => @guild, :info_name => "general_payment"} %>
<% statuses = ['Posted','Payed','Ordered','Delivered','Ready','Done','Canceled'] %>
<% statuses.each do |status| %>
  <% if @orders[status] %>
    <h3><%= t(status, :scope => "order.status" ) %></h3>
    <table>
      <thead>
        <tr>
          <th><%= t(:order_key, :scope => "globals" ) %></th>
          <th><%= t(:order_content , :scope => "globals" ) %></th>
          <th><%= t(:actions , :scope => "globals" ) %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders[status].each do |order|%>
          <%= render order %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= render :partial => 'guilds/sidemenu', :locals => {:guild =>  @guild} %>
