<h1><%= @title %></h1>

<fieldset class="simplefieldset2">
  <legend>
    <%= t(:ordered_items, :scope => "shopping_cart" ) %>
  </legend>
  <%= render :partial => "shopping_cart_items/shopping_cart_items", :locals => { :items => current_user.shopping_cart_items } %>
</fieldset>


<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= f.submit @submit %>
  </div>
<% end %>

<%= render :partial => "guilds/sidemenu", :locals => {:guild => Guild.find_by_initials(request.subdomain)} %>
