<%= form_for(@option) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :typee %><br/>
    <%= f.select :typee, ['printer', 'user'] %>
  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
