<div>
  <h2><%= link_to faculty.name, faculty %></h2>
  <fieldset class="simplefieldset2">
    <legend>
     <%= t(:info, :scope => "message" ) %>
     <span class="comment_text">
     <%= link_to "Edit", edit_faculty_path(faculty) %>
     </span>
    </legend>

    <table class="simpletable1">
    <col/>
    <tr>
      <td><%= t(:initials) %>: </td>
      <td><%= faculty.initials %> </td>
    </tr>
      <td><%= t(:institute) %>:</td>
      <td><%= faculty.institute.name %> </td>
  </table>
  </fieldset>
  <fieldset class="simplefieldset2">
  <legend>
  <%= t(:disciplines, :scope => "globals" ) %>
  <span class="comment_text">
    <%= link_to t(:add_discipline, :scope => "links" ), :controller => "disciplines", :action => "new", :faculty_id => faculty.id %>

  </span>
  </legend>
  <ul class="disciplines">
  <% faculty.disciplines.each do |discipline| %>
  <li><%= link_to discipline.name, discipline %></li>
  <% end %>
  </ul>
  </fieldset>
</div>
