<%= form_for(@faculty) do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
  </div>
  <div class='field'>
    <%= f.label :initials %> <br>
    <%= f.text_field :initials %> <br>
  </div>
  <div class='field'>
		<%= label_tag t(:institute, :scope => "globals" ) %>
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "institute",
      :id => "faculty[institute_id]",
      :dataset => get_institutes, 
      :selected_id => @selected_institute,
      :parent_id => "",
      :child_id => ""} %> <br />
  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
