<h1><%= t(:all_faculties, :scope => "titles" ) %></h1>
<p class="comment_text">
	<%= link_to t(:add_faculty, :scope => "links" ), new_faculty_path %>
</p>
<%= will_paginate %>
  <% @faculties.each do |faculty| %>
    <%= render faculty %>
  <% end %>
<%= will_paginate %>

