<h1>
  <%= t(:all_faculties, :scope => "titles" ) %>
  <div class="to_right">
    <span class="comment_text">
      <%= link_to t(:new_faculty, :scope => "links" ), new_faculty_path %>
    </span>
    <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_faculty_path %>
  </div>
</h1>

<%= will_paginate %>
  <% @faculties.each do |faculty| %>
    <%= render faculty %>
  <% end %>
<%= will_paginate %>
