<h1>
  <%= @title %>
</h1>
<table>
  <thead>
    <tr>
      <th><%= t(:guild, :scope => "globals" ) %></th>
      <th><%= t(:total_cost, :scope => "globals" ) %></th>
      <th><%= t(:total_profit, :scope => "globals" ) %></th>
      <th><%= t(:marge, :scope => "globals" ) %></th>
      <th><%= t(:share_in_global_profit, :scope => "globals" ) %></th>
      <th><%= t(:items, :scope => "globals" ) %></th>
    </tr>
  </thead>
  <tbody>
    <% @payed_orders.each do |p| %>
      <tr><td><%= p.status %></td></tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'side_menu' %>
