<h1>
  <%= @title %>
</h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name, :scope => "globals" ) %></th>
      <th><%= t(:type, :scope => "globals" ) %></th>
      <th><%= t(:amount, :scope => "globals" ) %></th>
      <th><%= t(:costpp, :scope => "globals" ) %></th>
      <th><%= t(:pricepp, :scope => "globals" ) %></th>
      <th><%= t(:profit, :scope => "globals" ) %></th>
      <th><%= t(:total_profit, :scope => "globals" ) %></th>
    </tr>
  </thead>
  <tbody>
    <% total = 0 %>
    <% @grouped_orders.each do |material, amount| %>
      <tr>
        <td><%= link_to(material.full_name, material) %></td>
        <td><%= t(material.typee.to_sym, :scope => "material.types" ) %></td>
        <td><%= amount %></td>
        <% supply = Supply.find(:first, :conditions => ["material_id = ? and guild_id = ?", material.id, @guild.id]) %>
        <td><%= number_to_currency supply.buy_price %></td>
        <td><%= number_to_currency supply.price %></td>
        <% profit = (supply.price - supply.buy_price) %>
        <td><%= number_to_currency profit %></td>
        <td><%= number_to_currency (profit * amount) %></td>
        <% total += (profit * amount) %>
      </tr>
    <% end %>
    <tr>
      <td colspan = 6><strong><%= t(:total, :scope => "globals" ) %></strong></td>
      <td><strong><%= number_to_currency total %></strong></td>
    </tr>
  </tbody>
</table>


<%= render :partial => 'side_menu' %>
