<h1><%= t(:sign_in, :scope => "titles" ) %></h1>
<%= render :partial => 'form' %>
<div>
	<%= t(:q_new_user, :scope => "message" ) %> <%= link_to t(:sign_up_now, :scope => "links" ), signup_path %>
</div>

<%= render :partial => "pages/home_side_menu" %>

