<tr>
  <% g = item.guild %>
  <% m = item.material %>
  <% s = Supply.find(:all, :conditions => ['material_id = ? and guild_id = ? ', m.id, g.id]) %>
  <% total += s.first.price * item.amount %>
  <td><%= item.material.name %></td>
  <td><%= item.material.typee %></td>
  <td>
    <%= item.amount %> 
    <%= link_to image_tag("icons/twotone/" + icon_color + "/minus.gif", :alt=>"-"), substract_shopping_cart_item_path(item), :method => :put %>
    <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>"+"), add_shopping_cart_item_path(item), :method => :put %>
  </td>
  <td><%= number_to_currency s.first.price %></td>
</tr>
