<h1><%= t(:shopping_cart, :scope => "shopping_cart" ) %></h1>

<fieldset class="simplefieldset2">
  <legend>
    <%= t(:ordered_items, :scope => "shopping_cart" ) %>
  </legend>

  <%= render :partial => "shopping_cart_items", :locals => { :items => @shopping_cart_items } %>
  
</fieldset>

<%= button_to t(:proceed_to_order, :scope => "links" ), new_order_path, :method => 'get' %>

<%= render :partial => "guilds/sidemenu", :locals => {:guild => Guild.find_by_initials(request.subdomain)} %>