<%= form_for(@subject) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <script type="text/javascript">
    tag = 1;
  </script>
  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :year %> <br>
    <%= f.text_field :year %> <br>
    <%= f.label :year_type %> <br>
    <%= f.text_field :year_type %> <br>
  </div>
  <%= hidden_field_tag "counter", "0" %>
  
  <div class='field'>
    <%= f.label :disciplines %> <br>
    <div class='fields'>
      <%= f.fields_for :disciplines do |builder| %>
        <%=  render 'given_discipline_fields' , {:f => builder} unless @dis_fac_inst.empty?%>
      <% end %>
    </div>
    
    <div class='fields'>
      <%= link_to_perform_javascript "add one (symbol)", [],[], [add_fields(f, :disciplines)] %>
    </div>

  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
