<%= form_for(@subject) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <script type="text/javascript">
    tag = 1;
  </script>
  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :year %> <br>
    <%= f.text_field :year %> <br>
    <%= f.label :year_type %> <br>
    <%= select_tag "subject[year_type]", options_for_select(get_year_types,
      @subject.year_type),
      { :prompt => t(:select_type, :scope => 'subject.types')} %> <br />
  </div>

  <%= hidden_field_tag "counter", "0" %>

  <div class='field'>

    <% if params[:discipline_id] %>
      <%= f.hidden_field :discipline_id, :value => params[:discipline_id] %>
      <%= hidden_field_tag "discipline_id", params[:discipline_id] %>
    <% else %>

      <%= f.label :disciplines %> <br>
      <div class='fields'>
        <%= f.fields_for :disciplines do |builder| %>
          <%=  render 'given_discipline_fields' , {:f => builder} unless @dis_fac_inst.empty?%>
        <% end %>


      </div>

      <div class='fields'>
        <%= link_to_perform_javascript "add one (symbol)", [],[], [add_fields(f, :disciplines)] %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
  
<%= render :partial => "shared/right_navigation", :locals => {:params_key => :discipline_id}%>
