<!-- hidden field to make sure the id doesnt get overloaded -->
<div class="fields">
  <% if :id %>
    <% tag = f.object_name.gsub(/[^0-9]+/,'') %>
    <%= f.hidden_field :id, :value => 0 %>

    <%= label_tag "institute" %>
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "institute",
      :id => "subject[disciplines_attributes][#{tag}][institute_id]",
      :dataset => Institute.all, 
      :selected_id => "#{@dis_fac_inst[0][tag.to_i]}",
      :parent_id => "subject_disciplines_attributes_#{tag}_institute_id",
      :child_id => "subject_disciplines_attributes_#{tag}_faculty_id"} %> <br />

    <%= label_tag "faculty" %>    
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "faculty",
      :id => "subject[disciplines_attributes][#{tag}][faculty_id]",
      :dataset => Faculty.find_all_by_institute_id(@dis_fac_inst[0][tag.to_i]), 
      :selected_id => "#{@dis_fac_inst[1][tag.to_i]}",
      :parent_id => "subject_disciplines_attributes_#{tag}_faculty_id",
      :child_id => "subject_disciplines_attributes_#{tag}_id"} %> <br />

    <%= label_tag "discipline" %>    
    <%= render :partial => "filters/select_box", :locals => {
      :filter_key_ajax => "discipline",
      :id => "subject[disciplines_attributes][#{tag}][id]",
      :dataset => Discipline.find_all_by_faculty_id(@dis_fac_inst[1][tag.to_i]), 
      :selected_id => "#{@dis_fac_inst[2][tag.to_i]}",
      :parent_id => "",
      :child_id => ""} %> <br />

    <%= link_to_remove_fields "remove", f %>
    <h1></h1> <!-- TODO: remove this, just gives us a line css abuse -->
  <% end %>
</div>