<div>
  <h1><%= link_to subject.name, subject %></h1>
	<ul class="info">
		<li><strong>Year: </strong><%= subject.year.to_s + ' ' + subject.year_type %></li>
	</ul>
  <strong>Disciplines:</strong><br>
  <% subject.disciplines.each { |discipline| %>
    <strong><%= discipline.name %></strong><br/>
    <ul>
      <li><strong>Faculty:</strong><%= discipline.faculty.name %> <br/></li>
      <li><strong>Institute:</strong><%= discipline.faculty.institute.name %> <br/></li>
    </ul>
  <% } %>

  <%= link_to "Edit this subject", edit_subject_path(subject) %>
</div>
