<div>
  <h1><%= link_to subject.name, subject %></h1>
  <strong>Disciplines:</strong><br>
  <% subject.disciplines.each { |discipline| %>
    <strong>Name:</strong><%= discipline.name %> <br/>
    <strong>Faculty:</strong><%= discipline.faculty.name %> <br/>
    <strong>Institute:</strong><%= discipline.faculty.institute.name %> <br/>
  <% } %>

  <%= link_to "Edit this subject", edit_subject_path(subject) %>
</div>
