<div>
  <h2><%= link_to subject.name, subject %></h2>
  <fieldset class="simplefieldset2">
    <legend>
     <%= t(:info, :scope => "message" ) %>
     <span class="edit">
     - <%= link_to "Edit", edit_subject_path(subject) %>
     </span>
    </legend>

    <table class="simpletable1">
    <col/>
    <% disciplines = subject.disciplines %>
    <% faculties =  disciplines.map{|a| a.faculty}.flatten%>
    <% institutes = faculties.map{|a| a.institute} %>
    <table class="simpletable1">
      <tr>
        <td><%= t(:prof, :scope => "globals" ) %></td>
        <td><%= subject.prof %></td>
      </tr>
      <% [[institutes, t(:institutes, :scope => "globals" )], [faculties, t(:faculties, :scope => "globals" )], [disciplines, t(:disciplines, :scope => "globals" )]].each do |l| %>
        <tr>
          <td><%= l[1] %></td>
          <td>
            <% l[0].each do |x| %>
                <div><%= link_to x.name, x %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </table>
  </fieldset>
  <fieldset class="simplefieldset2">
  <legend>
    <%= t(:materials, :scope => "globals" ) %>
    <span class="comment_text">
      - <%= link_to t(:add_one, :scope => "links" ), :controller => "materials", :action => "new", :subject_id => subject.id %>
      <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_material_path %>
    </span>
  </legend>
    <ul class="materials">
      <% subject.materials.each do |material| %>
        <li><%= link_to material.name, material %></li>
      <% end %>
    </ul>
  </fieldset>
</div>
