<h1><%= t(:all_subjects, :scope => "titles" ) %></h1>
<%= link_to t(:add_subject, :scope => "links" ), new_subject_path %>
<%= will_paginate %>
<ul class="subjects">
  <% @subjects.each do |subject| %>
    <%= render subject %>
  <% end %>
</ul>
<%= will_paginate %>

