<%= form_for(@material, :html => {:multipart => true}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class='field'>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :page_count %> <br>
    TODO default is -1 leave at that for things that do not have a page count, or things that don't need to printed
    <%= f.text_field :page_count %> <br>
    <%= f.label :type %> <br>
    <%= select_tag "material[typee]", options_for_select(get_types,
      @material.typee),
      { :prompt => t(:select_type, :scope => 'material.types')} %> <br />
    <%= f.label :printable %>
    <%= f.hidden_field "printable", :value => 0 %>
    <%= f.check_box "printable" %><br/>
    <%= f.label :info %> <br/>
    <%= f.text_area :info, :cols => 60, :rows => 7  %> <br/>
  </div>
  <div class='field'>
    <%= f.label :attachments %> <br>
    <div class='fields'>

      <%= link_to_add_fields "add one", f, :attachments %>
    </div>
  </div>
  <div class='field'>
    <%= f.label :options %> <br>
    <div class='fields'>
      <%= f.fields_for :options do |builder| %>
        <%=  render 'option_fields' , :f => builder %>
      <% end %>
      <%= link_to_add_fields "add one", f, :options %>
    </div>
  </div>
  <% if params[:subject_id] %>
    <div class='field'>
      <%= f.hidden_field :subject_id, :value => params[:subject_id] %>
      <%= hidden_field_tag "subject_id", params[:subject_id] %>
    </div>
  <% elsif params[:parent_id] %>
    <div class='field'>
      <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
      <%= hidden_field_tag "parent_id", params[:parent_id] %>
    </div>
  <% else %>
    <div class='field' id="subject_field">
      <%= render "subject_field", :f => f if @material.subject_id%>
      <div class='field' id="parent_field">
        <%= render "parent_field", :f => f if @material.parent_id %>
      </div>
      <div class="field" id="add_subject_or_parent_link" <%= "style='display: none;'" if @material.subject_id || @material.parent_id%> >
        <%= link_to_create_hide_items "add to subject", :subject, ["add_subject_or_parent_link"],f %> or
        <%= link_to_create_hide_items "add to parent", :parent, ["add_subject_or_parent_link"],f %>
      </div>
    </div>
  <% end %>




  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
