<h2><%= link_to "#{material.get_subject.name} #{material.typee} #{material.name}", material %></h2>
<ul>
  <div class="to_right">
    <% (1..5).each do |i| %>
      <% check = material.rating_score > i - 1 && material.rating_score <= i ? "checked" : false  %>
      <%= radio_button_tag "#{material.id}", i, check, { :class => "star", :disabled => "disabled"} %>
    <% end %>

  </div>

  <br />

  <fieldset class="simplefieldset2">
    <legend>
      <%= t(:info, :scope => "message" ) %>
      <% if signed_in? && current_user.can?("edit_materials") %>
        <span class="edit">
          - <%= link_to "Edit", edit_material_path(material) %>
        </span>
      <% end %>
      <% if current_user.can? "delete_materials" %>
        <%= link_to image_tag("icons/twotone/" + icon_color + "/against.gif", :alt=>t("delete_material", :scope => 'links')), { :action => "destroy", :id => material.id }, :method => :delete %>
      <% end %>
      <% if signed_in? && current_user.can?("create_materials") %>
        <span class="comment_text">
          - <%= link_to t(:add_one, :scope => "links" ), :controller => "materials", :action => "new", :parent_id => material.id, :material_id => material.id %>
          <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_verion", :scope => 'links')), :controller => "materials", :action => "new", :parent_id => material.id, :material_id => material.id %>
        </span>
      <% end %>
    </legend>

    <table class="simpletable1">
      <col/>
      <% subject = material.get_subject %>
      <% disciplines = subject.disciplines %>
      <table class="simpletable1">
        <tr>
          <td><%= t(:prof, :scope => "globals" ) %></td>
          <td><%= subject.prof %></td>
        </tr>
        <tr>
          <% if subject %>
            <td><%= t(:subject, :scope => "globals" ) %></td>
            <td><%= link_to(subject.name, subject) %></td>
          <% else %>
            <td><%= t(:no_subject, :scope => "subject" ) %></td>
          <% end %>
        </tr>
        <% [[disciplines, t(:disciplines, :scope => "globals" )]].each do |l| %>
          <tr>
            <td><%= l[1] %></td>
            <td>
              <% l[0].each do |x| %>
                <div><%= link_to x.name, x %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><%= t(:info, :scope => "globals" ) %></td>
          <td><%= material.info %></td>
        </tr>
        <% if material.parent_id %>
          <tr>
            <td><%= t :parent, :scope => "material" %></td>
            <td><%= link_to "#{material.parent.typee} #{material.parent.name}", material.parent %></td>
          </tr>
        <%  end %>
      </table>
    </table>
  </fieldset>

  <% if signed_in? && current_user.can?("download_materials") %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(:attachment, :scope => "message" ) %>
      </legend>

      <table class="simpletable1">
        <col/>
        <table class="simpletable1">
          <% if material.attachments.any?  %>
            <ul>
              <% material.attachments.each do |attachment| %>
                <li>
                  <%= link_to attachment.basename, :controller=>'attachments',:action=>'download',:attachment_id=>attachment.id %> <br />
                </li>
              <% end %>
            </ul>
          <% end %>
        </table>
      </table>
    </fieldset>
  <% end %>

  <% if signed_in? && current_user.can?("view_options") %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(:options, :scope => "message" ) %>
      </legend>

      <table class="simpletable1">
        <col/>
        <table class="simpletable1">
          <% if material.options.any?  %>
            <ul>
              <% material.options.each do |option| %>
                <li>
                  <%= option.name %> 
                </li>
              <% end %>
            </ul>
          <% end %>
        </table>
      </table>
    </fieldset>
  <% end %>

  <% if signed_in? && current_user.can?("view_supplies") %>
    <% my_first_guild_selling_supply = Supply.find(:all, :conditions => ['material_id = ? and guild_id = ? ', material.id, current_user.guilds.first.id]) if signed_in? %>
    <fieldset class="simplefieldset2">
      <legend>
        <%= t(:guilds, :scope => "message" ) %>
        <span class="comment_text">
          <% if signed_in? && current_user.can?("sell_materials") %>
            <% if signed_in? && current_user.guilds.size == 0 %>
              - <%= t :join_to_add, :scope => "material"%>
            <% elsif signed_in? && my_first_guild_selling_supply.any? %>
              - <%= link_to t(:remove_supply, :scope => "message", :guild => current_user.guilds.first.initials ), {:controller => "supplies", :action => "destroy", :id =>  my_first_guild_selling_supply}, :method => :delete %>
              <%= link_to image_tag("icons/twotone/" + icon_color + "/x.gif", :alt=>"X"), {:controller => "supplies", :action => "destroy", :id =>  my_first_guild_selling_supply}, :method => :delete %>
            <% else %>
              - <%= link_to t(:add_supply, :scope => "message" ), :controller => "supplies", :action => "new", :material => material, :guild => current_user.guilds.first %>
              <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), :controller => "supplies", :action => "new", :material => material %>
            <% end %>
          <% end %>
        </span>
      </legend>

      <table class="simpletable1">
        <col/>
        <table class="simpletable1">
          <% options = material.printer_options %>
          <table>
            <thead>
              <tr>
                <th>guild</th>
                <th>printer</th>
                <th>price set</th>
                <th>sell price</th>
                <th>total buy price</th>
                <th>edit</th>
                <th>stock</th>

              </tr>
            </thead>
            <tbody>
              <% material.guilds.each do |guild| %>
                <% supply_lookup = Supply.find(:all, :conditions => ['material_id = ? and guild_id = ? ', material.id, guild.id]) %>
                <% if supply_lookup.length == 1 %>
                  <% supply =  supply_lookup.first %>
                  <tr>
                    <td><%= link_to guild.name, root_url(:subdomain => guild.initials) %></td>
                    <td><%= supply.material.printable ? (link_to supply.price_set.printer.name, supply.price_set.printer) : 'N/A' %></td>
                    <td><%= supply.material.printable ? (link_to supply.price_set.name, supply.price_set) : 'N/A' %></td>
                    <td><%= supply.price %></td>
                    <td><%= supply.buy_price %></td>
                    <td><%= link_to image_tag("icons/twotone/" + icon_color + "/edit.gif", :alt=>t("edit", :scope => 'links')), edit_supply_path(supply) %></td>
                    <td>
                      <% s = Stock.find(:all, :conditions => ["material_id = ? AND guild_id = ?", material.id, guild.id]) %>
                      <% if s.any? %>
                        <% s = s.first %>
                        <%= link_to image_tag("icons/twotone/" + icon_color + "/edit.gif", :alt=>t("edit", :scope => 'links')), { :controller => "stocks", :action => "edit", :id => s.id, :guild_id => guild.id, :material_id => material.id } %>
                      <% else %>
                        <%= link_to image_tag("icons/twotone/" + icon_color + "/edit.gif", :alt=>t("edit", :scope => 'links')), { :controller => "stocks", :action => "new", :guild_id => guild.id, :material_id => material.id } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </table>
      </table>
    </fieldset>
  <% end %>
</ul>