<div class="material">
  <%= render :partial => "material_body", :locals => {:material => material} %>
  
  <% if can_rate? material %>
    <h2>Rate this material</h2>
    <%= form_for(@rating) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.hidden_field :rateable_id, :value => material.id %>
      <%= f.hidden_field :rateable_type, :value => material.class %>
      <%= f.hidden_field :user_id, :value => current_user.id %>


      <div class='field'>
        <%= f.label :score %> <br>
        <% (1..5).each do |i| %>
          <%= f.radio_button :score, i, :class => "star" %>
        <% end %>

      </div>
      <div class='field'>
        <%= f.label :message %> <br>
        <%= f.text_field :message %> <br>
      </div>
      <div class="actions">
        <%= f.submit @submit %>
      </div>
    <% end %>
  <% end %>
</div>


