<div class="material">
  <h1><%= link_to material.name, material %></h1>
  <% subject = material.subject %>
  <strong>Subject:</strong>
  <% if subject %>
    <%= link_to(subject.name + " " + subject.year.to_s + " " + subject.year_type, subject) %><br/>
  <% else %>
    This material is not attached to a subject yet. <br/>
  <% end %>
  <strong><%= t(:price, :scope => "globals" ) %>:</strong> €<%= material.get_price %><br/>
  <strong><%= t(:attachment, :scope => "globals" ) %>:</strong> <br />

  <ul>
    <% material.attachments.each do |attachment| %>
      <li>
        <%= link_to attachment.basename, attachment.item_url %> <br />
      </li>
    <% end %>
  </ul>

  <strong><%= t(:info, :scope => "globals" ) %>:</strong> <%= material.info %><br/>
  <% if material.parent %>
    <strong>Parent:</strong> <%= link_to material.parent.name, material.parent %>
  <% end %>
  <%= link_to "Edit this material", edit_material_path(material) %><br/>
  <%= link_to 'add new version', :controller => "materials", :action => "new", :parent => material.id %>
  <% if current_user.can?("sell_materials") %>
    <% if current_user.guilds.size == 0 %>
      <p>Join a guild to add materials for it.</p>
    <% elsif current_user.guilds.size > 1 %>
      <p>You are in more than one guild. We don't know which guild you want to sell the material.</p>
    <% elsif current_user.guilds.first.materials.include?(material)%>
      <p>material already added to <%= current_user.guilds.first.name %></p>
    <% else %>
      <%= link_to "Add this material to the guilds supply", sell_material_path(material), :method => :put %>
    <% end %>
  <% end %>

  <h2>guilds selling this material</h2>
  <ul class="guilds">

    <% material.guilds.each do |guild| %>
      <li><%= link_to guild.name, root_url(:subdomain => guild.initials) %></li>
    <% end %>

  </ul>
  <% if can_rate? (material) %>
    <h2>Rate this material</h2>
    <%= form_for(@rating) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.hidden_field :rateable_id, :value => material.id %>
      <%= f.hidden_field :rateable_type, :value => material.class %>
      <%= f.hidden_field :user_id, :value => current_user.id %>


      <div class='field'>
        <%= f.label :score %> <br>
        <%= f.text_field :score %> <br>
      </div>
      <div class='field'>
        <%= f.label :message %> <br>
        <%= f.text_field :message %> <br>
      </div>
      <div class="actions">
        <%= f.submit @submit %>
      </div>
    <% end %>
  <% end %>
</div>
