<strong>material:</strong><%= @material.name %>


<%= form_for(@material, :url => sell_material_path) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class='field'>
    <%= f.label :printer %> <br/>
    <%= select_tag :printer, options_from_collection_for_select(@printers,
      :id, :name, params[:printer] ? params[:printer] : "") ,
      { :prompt => t(:select_printer, :scope => 'add_to_supply')} %><br/>
    <%= f.label :guild %> <br/>
    <%= select_tag :guild, options_from_collection_for_select(@guilds,
      :id, :name, params[:guild] ? params[:guild] : "") ,
      { :prompt => t(:select_guild, :scope => 'add_to_supply')} %><br/>
    <%= f.label :price_set %> <br/>
    <%= select_tag :price_set, options_from_collection_for_select(@price_sets,
      :id, :name, params[:price_set] ? params[:price_set] : "") ,
      { :prompt => t(:select_price_set, :scope => 'add_to_supply')} %><br/>
    <%= f.label :price %> <br/>
    <%= text_field :price, :price %>

  </div>
  <div class="actions">
    <%= f.submit @submit %>
  </div>
<% end %>
