<h1>
  <%= @title %>
  <% if current_user.can? "create_material" %>
  <div class="to_right">
    <span class="comment_text">
      <%= link_to t(:new_material, :scope => "links" ), new_material_path %>
    </span>
    <%= link_to image_tag("icons/twotone/" + icon_color + "/plus.gif", :alt=>t("new_message", :scope => 'links')), new_material_path %>
  </div>
  <% end %>
</h1>
<%= will_paginate %>
<div class="materials">
  <% @materials.each do |material| %>
    <%= render :partial => "list_material", :locals => {:material => material} %>
  <% end %>
</div>



<%= render :partial => 'shared/side_supply' %>